---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/greeting";
---

<BaseLayout pageTitle="Mortens💡">
	<h2>Velkommen</h2>
	<!--<Greeting messages={["Hey", "Halla", "Hallais", "Hola", "Hei på deg", "Tjena"]}-->
	<Greeting client:load messages={["Hey", "Halla", "Hallais", "Hola", "Hei på deg", "Tjena"]} />
</BaseLayout>