---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.vue";
---

<BaseLayout pageTitle="Mortens💡">
	<h2>Velkommen</h2>
	<Greeting client:only="visible" />
</BaseLayout>